<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Historical temperature data API</h1>
    <h3>URL format: http://127.0.0.1:5000/api/v1/stationID/date/</h3>
    <h3>URL format: http://127.0.0.1:5000/api/v1/7/2015-03-25/</h3>
    <h3>----------------------------------</h3>
    <h3>URL format: http://127.0.0.1:5000/api/v1/station/</h3>
    <h3>URL format: http://127.0.0.1:5000/api/v1/7/</h3>
<h3>----------------------------------</h3>
    <h3>URL format: http://127.0.0.1:5000/api/v1/year/station/year/</h3>
    <h3>URL format: http://127.0.0.1:5000/api/v1/year/7/2015/</h3>
</body>
</html>